---
import MainLayout from "../layouts/MainLayout.astro";
import AboutMe from "../components/AboutMe.astro";
import Skills from "../components/Skills.astro";
import Experiences from "../components/Experiences.astro";
import Footer from "../components/Footer.astro";
---

<MainLayout title="Dimas Gilang Dwi Aji | Software Developer">
  <main class="w-full max-w-screen-2xl px-8 lg:w-3/4 mx-auto mt-40 space-y-28">
    <AboutMe />
    <Skills />
    <Experiences />
  </main>
  <Footer />
</MainLayout>
