---
import MainLayout from "../layouts/MainLayout.astro";
import AboutMe from "../components/AboutMe.astro";
---

<MainLayout title="Dimas Gilang Dwi Aji | Software Developer">
  <div class="w-full max-w-screen-2xl px-8 lg:w-3/4 mx-auto mt-28">
    <AboutMe />
  </div>
</MainLayout>
