---
import { Image } from "astro:assets";
import me from "../../src/images/me.png";
import githubLight from "../../src/images/github-light.png";
import linkedinLight from "../../src/images/linkedin-light.png";
import Button from "./ui/Button.astro";
---

<section
  id="about-me"
  class="flex flex-col lg:flex-row gap-10 lg:gap-64 justify-center items-center"
>
  <div>
    <span class="inline-block text-sm lg:text-base font-semibold mb-2"
      >Hello there👋, I'm</span
    >
    <h1 class="text-2xl lg:text-4xl font-bold mb-1">Dimas Gilang Dwi Aji</h1>
    <span class="inline-block text-base lg:text-lg font-medium mb-2"
      >Software Developer | Tech Enthusiast</span
    >
    <p class="text-sm mb-4">
      Bring your web ideas to life! I build web applications with a good user
      experience on both the <strong>front-end</strong> and <strong
        >back-end</strong
      > sides.
    </p>
    <div class="flex items-center gap-3">
      <Button
        href="https://github.com/ddim03"
        target="_blank"
        variant="secondary"
        className="p-2"
      >
        <Image src={githubLight} alt="Github" loading="eager" />
      </Button>
      <Button
        href="https://www.linkedin.com/in/dimasgda/"
        target="_blank"
        variant="secondary"
        className="p-2"
      >
        <Image src={linkedinLight} alt="Linkedin" loading="eager" />
      </Button>
      <Button
        href="mailto:dimasgilang0803@gmail.com"
        target="_blank"
        variant="primary"
        className="px-4 py-2.5">Contact Me</Button
      >
    </div>
  </div>
  <div class="relative">
    <div class="absolute top-0 left-0 w-full h-full bg-gray-900 rounded-sm">
    </div>
    <Image
      src={me}
      alt="Dimas Gilang Dwi Aji"
      width={300}
      loading="eager"
      class="relative w-full h-full hover:-translate-x-3 hover:-translate-y-3 bg-white border-2 border-gray-900 rounded-sm transition-all duration-300"
    />
  </div>
</section>
