---
import { Image } from "astro:assets";
import html from "../images/html-5-svgrepo-com.svg";
import css from "../images/css-3-svgrepo-com.svg";
import js from "../images/javascript-svgrepo-com.svg";
import php from "../images/php-1-logo-svgrepo-com.svg";
import nodejs from "../images/nodejs-icon-logo-svgrepo-com.svg";
import laravel from "../images/laravel-svgrepo-com.svg";
import reactjs from "../images/reactjs-svgrepo-com.svg";
import mysql from "../images/mysql-logo-svgrepo-com.svg";
import postgresql from "../images/postgresql-logo-svgrepo-com.svg";
import vscode from "../images/vscode-svgrepo-com.svg";
import bootstrap from "../images/bootstrap.svg";
import tailwindcss from "../images/tailwind.svg";
import SectionHead from "./SectionHead.astro";

const skills = [
  {
    name: "HTML",
    description: "Structure",
    image: html,
  },
  {
    name: "CSS",
    description: "Styling",
    image: css,
  },
  {
    name: "JavaScript",
    description: "Interactivity",
    image: js,
  },
  {
    name: "Bootstrap",
    description: "CSS Framework",
    image: bootstrap,
  },
  {
    name: "TailwindCSS",
    description: "CSS Framework",
    image: tailwindcss,
  },
  {
    name: "ReactJS",
    description: "Frontend Framework",
    image: reactjs,
  },
  {
    name: "PHP",
    description: "Backend Logic",
    image: php,
  },
  {
    name: "NodeJS",
    description: "Runtime Environment",
    image: nodejs,
  },
  {
    name: "Laravel",
    description: "Fullstack Framework",
    image: laravel,
  },
  {
    name: "MySQL",
    description: "Database",
    image: mysql,
  },
  {
    name: "PostgreSQL",
    description: "Database",
    image: postgresql,
  },
  {
    name: "Visual Studio Code",
    description: "Tools",
    image: vscode,
  },
];
---

<section id="skills">
  <SectionHead
    title="Skills"
    descripton="Tools and technologies I am good at"
  />

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mt-6">
    {
      skills.map((skill, index) => (
        <div class="relative">
          <div class="absolute top-0 left-0 w-full h-full bg-gray-800 rounded-sm" />
          <div class="relative border rounded-sm flex items-center gap-4 bg-white px-3 py-4 hover:-translate-x-2 hover:-translate-y-2 transition-all duration-300 ease-in-out hover:border hover:border-gray-200 shadow-sm">
            <Image
              src={skill.image}
              alt={skill.name}
              class="w-12 h-auto"
              loading="lazy"
            />
            <div class="space-y-2">
              <p class="text-sm font-semibold">{skill.name}</p>
              <small class="text-xs text-muted">{skill.description}</small>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</section>
