---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="Blog | Dimas Gilang Dwi Aji">
  <main class="min-h-screen w-full flex justify-center items-center">
    <h1>Blogs Is Under Development</h1>
  </main>
</MainLayout>
