---
const { variant, href, type = "button", className, ...props } = Astro.props;

const classes = {
  primary:
    "bg-gray-900 text-white shadow-md shadow-gray-900/10 hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none active:bg-gray-900 ",
  secondary: "bg-transparent border border-gray-500 ",
};
---

<a
  href={href}
  class={`text-sm rounded-sm ${classes[variant]} ${className}`}
  type={type}
  {...props}
>
  <slot />
</a>
